#menu{
	background-color: black !important;
	
}
#i1, #i2, #i3, #i4, #i5, #i6, #i7, #i8, #i9{
	color:white !important;
}
#navbarDropdownCalendario, #navbarDropdownEquipos{
	color: white !important;
	background-color: rgba(0,0,0,0.8) !important;
}
*{
	font-family: 'Jockey One', sans-serif;
}


.titol{
	display:flex;
	margin-top:20px;
}
.titol > h1{

	padding-top: 90px;
	font-weight: bold;
	font-size:90px;
	font-size-adjust: 0.58;
	padding-left: 30px;
}
#button-principal{
	margin:120px 0px 120px 120px;
}
